body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-2 {
  font-family: 'Pacifico', handwriting;
  font-size: 3.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-4 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 0.5rem;
}
.display-5 {
  font-family: 'Abril Fatface', display;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Patrick Hand', handwriting;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.32rem;
    font-size: calc( 0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.79rem + (0.4 - 0.79) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f31138 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f31138 !important;
  border-color: #f31138 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a50823 !important;
  border-color: #a50823 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a50823 !important;
  border-color: #a50823 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f31138;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a50823 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f31138 !important;
  border-color: #f31138 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f31138 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #960820 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f31138;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f31138;
  border-color: #f31138;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f31138;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdd3da;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 0.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f31138 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Fjalla One', sans-serif;
  font-size: 0.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 0.5rem;
}
blockquote {
  border-color: #f31138;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f31138;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f31138;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f31138;
  border-bottom-color: #f31138;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #f31138 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f31138' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t3sL9f8Y3t {
  z-index: 1000;
  width: 100%;
}
.cid-t3sL9f8Y3t nav.navbar {
  position: fixed;
}
.cid-t3sL9f8Y3t .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t3sL9f8Y3t .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-t3sL9f8Y3t .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-t3sL9f8Y3t .dropdown-item:hover,
.cid-t3sL9f8Y3t .dropdown-item:focus {
  background: #f31138 !important;
  color: white !important;
}
.cid-t3sL9f8Y3t .dropdown-item:hover span {
  color: white;
}
.cid-t3sL9f8Y3t .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-t3sL9f8Y3t .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-t3sL9f8Y3t .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-t3sL9f8Y3t .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t3sL9f8Y3t .nav-link {
  position: relative;
}
.cid-t3sL9f8Y3t .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-t3sL9f8Y3t .container {
    flex-wrap: nowrap;
  }
}
.cid-t3sL9f8Y3t .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-t3sL9f8Y3t .dropdown-menu,
.cid-t3sL9f8Y3t .navbar.opened {
  background: #2299aa !important;
}
.cid-t3sL9f8Y3t .nav-item:focus,
.cid-t3sL9f8Y3t .nav-link:focus {
  outline: none;
}
.cid-t3sL9f8Y3t .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t3sL9f8Y3t .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t3sL9f8Y3t .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t3sL9f8Y3t .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t3sL9f8Y3t .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t3sL9f8Y3t .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t3sL9f8Y3t .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #2299aa;
}
.cid-t3sL9f8Y3t .navbar.opened {
  transition: all 0.3s;
}
.cid-t3sL9f8Y3t .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-t3sL9f8Y3t .navbar .navbar-logo img {
  width: auto;
}
.cid-t3sL9f8Y3t .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-t3sL9f8Y3t .navbar.collapsed {
  justify-content: center;
}
.cid-t3sL9f8Y3t .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t3sL9f8Y3t .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-t3sL9f8Y3t .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 7.8rem);
  }
}
.cid-t3sL9f8Y3t .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t3sL9f8Y3t .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t3sL9f8Y3t .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t3sL9f8Y3t .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t3sL9f8Y3t .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-t3sL9f8Y3t .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-t3sL9f8Y3t .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t3sL9f8Y3t .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t3sL9f8Y3t .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t3sL9f8Y3t .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t3sL9f8Y3t .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t3sL9f8Y3t .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-t3sL9f8Y3t .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t3sL9f8Y3t .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t3sL9f8Y3t .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t3sL9f8Y3t .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t3sL9f8Y3t .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-t3sL9f8Y3t .navbar.navbar-short {
  min-height: 60px;
}
.cid-t3sL9f8Y3t .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-t3sL9f8Y3t .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-t3sL9f8Y3t .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t3sL9f8Y3t .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t3sL9f8Y3t .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t3sL9f8Y3t .dropdown-item.active,
.cid-t3sL9f8Y3t .dropdown-item:active {
  background-color: transparent;
}
.cid-t3sL9f8Y3t .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t3sL9f8Y3t .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t3sL9f8Y3t .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t3sL9f8Y3t .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #2299aa;
}
.cid-t3sL9f8Y3t .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t3sL9f8Y3t .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t3sL9f8Y3t ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t3sL9f8Y3t .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t3sL9f8Y3t button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-t3sL9f8Y3t button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #4479d9;
}
.cid-t3sL9f8Y3t button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t3sL9f8Y3t button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t3sL9f8Y3t button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t3sL9f8Y3t button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t3sL9f8Y3t nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t3sL9f8Y3t nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t3sL9f8Y3t nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t3sL9f8Y3t nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t3sL9f8Y3t .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-t3sL9f8Y3t a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t3sL9f8Y3t .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t3sL9f8Y3t .navbar {
    height: 70px;
  }
  .cid-t3sL9f8Y3t .navbar.opened {
    height: auto;
  }
  .cid-t3sL9f8Y3t .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t3sNYjUdbq {
  padding-top: 9rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1277.jpg");
}
.cid-t3sNYjUdbq .video-wrapper iframe {
  width: 100%;
}
.cid-t3sNYjUdbq .mbr-section-title,
.cid-t3sNYjUdbq .mbr-section-subtitle,
.cid-t3sNYjUdbq .mbr-text {
  text-align: center;
}
.cid-t3wg88F40M {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/mbr-1920x1357.jpg");
}
.cid-t3wg88F40M .row {
  flex-direction: row-reverse;
}
.cid-t3wg88F40M .video-wrapper iframe {
  width: 100%;
}
.cid-t3wg88F40M .mbr-section-title,
.cid-t3wg88F40M .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-t3wg88F40M .text-wrapper {
    padding: 2rem;
  }
}
.cid-t3wg88F40M .mbr-text {
  color: #000000;
}
.cid-t3wg88F40M .mbr-section-subtitle {
  color: #4479d9;
}
.cid-t3tjx0jcGH {
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-t3tjx0jcGH .number-wrap {
  color: #ffffff;
  text-align: center;
}
.cid-t3tjx0jcGH .number {
  color: #ffffff;
}
.cid-t3tjx0jcGH .period {
  display: block;
}
.cid-t3tjx0jcGH .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-t3tjx0jcGH .period {
    font-size: 0.8rem;
  }
}
.cid-t3tjx0jcGH .btn {
  height: 100%;
  margin: 0;
}
.cid-t3tjx0jcGH .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-t3tjx0jcGH H3 {
  color: #ffffff;
}
.cid-t3xjqMWqBw {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1920x1280.png");
}
.cid-t3xjqMWqBw .mbr-section-subtitle {
  text-align: center;
}
.cid-t3xiBCKkoj {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1-1920x1357.jpg");
}
.cid-t3xiBCKkoj .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-t3xiBCKkoj .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-t3xiBCKkoj .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t3xiBCKkoj .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-t3xiBCKkoj .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-t3xiBCKkoj .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-t3xiBCKkoj .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-t3xiBCKkoj .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-t3xiBCKkoj .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t3xiBCKkoj .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-t3wjIyAOxg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #bbbbbb;
}
.cid-t3wjIyAOxg .line {
  background-color: #4479d9;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t3wjIyAOxg .mbr-text {
  text-align: center;
}
.cid-t3tktTKf0Z {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
@media (max-width: 991px) {
  .cid-t3tktTKf0Z .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-t3tktTKf0Z .row {
  flex-direction: row-reverse;
}
.cid-t3tktTKf0Z img {
  width: 100%;
}
.cid-t3tku7ov7s {
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
@media (max-width: 991px) {
  .cid-t3tku7ov7s .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-t3tku7ov7s .row {
  flex-direction: row-reverse;
}
.cid-t3tku7ov7s img {
  width: 100%;
}
.cid-t3tkwhlMXK {
  background-image: url("../../../assets/images/mbr-1920x1080.jpg");
}
@media (max-width: 991px) {
  .cid-t3tkwhlMXK .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-t3tkwhlMXK .row {
  flex-direction: row-reverse;
}
.cid-t3tkwhlMXK img {
  width: 100%;
}
.cid-t3tsiqYHxq {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/mbr-1920x987.jpg");
}
.cid-t3tsiqYHxq .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.8;
}
.cid-t3tsiqYHxq form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-t3tsiqYHxq form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-t3tsiqYHxq form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-t3tsiqYHxq .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-t3tsiqYHxq .mbr-section-subtitle {
  color: #3c4961;
}
.cid-t3sRhgfymv {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1281.jpg");
}
.cid-t3sRhgfymv .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-t3sRhgfymv .team-card:hover {
  transform: translateY(-10px);
}
.cid-t3sRhgfymv .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-t3sRhgfymv .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-t3sRhgfymv .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-t3sRhgfymv .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t3sRhgfymv .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-t3sRhgfymv .social-row {
  text-align: center;
}
.cid-t3sRhgfymv .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-t3sRhgfymv .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-t3sRhgfymv .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-t3sRhgfymv .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-t3sRhgfymv .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 410px;
  max-width: 410px;
}
@media (max-width: 768px) {
  .cid-t3sRhgfymv .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-t3sRhgfymv .embla__button--next,
.cid-t3sRhgfymv .embla__button--prev {
  display: flex;
}
.cid-t3sRhgfymv .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-t3sRhgfymv .embla__button {
    display: none;
  }
}
.cid-t3sRhgfymv .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-t3sRhgfymv .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-t3sRhgfymv .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t3sRhgfymv .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t3sRhgfymv .embla__button {
    top: auto;
  }
}
.cid-t3sRhgfymv .embla {
  position: relative;
  width: 100%;
}
.cid-t3sRhgfymv .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-t3sRhgfymv .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-t3sRhgfymv .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-t3sRhgfymv .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-t3sRhgfymv .mbr-section-title {
  color: #3c4961;
}
.cid-t3teInvvuY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/mbr-1920x1183.jpg");
}
.cid-t3teInvvuY .item {
  padding-bottom: 2rem;
}
.cid-t3teInvvuY .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-t3teInvvuY .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-t3teInvvuY .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-t3teInvvuY .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-t3teInvvuY .carousel-control,
.cid-t3teInvvuY .close {
  background: #1b1b1b;
}
.cid-t3teInvvuY .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-t3teInvvuY .carousel-control-prev span {
  margin-right: 5px;
}
.cid-t3teInvvuY .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-t3teInvvuY .carousel-control-next span {
  margin-left: 5px;
}
.cid-t3teInvvuY .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-t3teInvvuY .close::before {
  content: '\e91a';
}
.cid-t3teInvvuY .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-t3teInvvuY .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-t3teInvvuY .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t3teInvvuY .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t3teInvvuY .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-t3teInvvuY .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-t3teInvvuY .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t3teInvvuY .carousel-indicators li.active,
.cid-t3teInvvuY .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t3teInvvuY .carousel-indicators li::after,
.cid-t3teInvvuY .carousel-indicators li::before {
  content: none;
}
.cid-t3teInvvuY .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t3teInvvuY .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-t3teInvvuY .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-t3teInvvuY .carousel-indicators {
    display: none;
  }
}
.cid-t3teInvvuY .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-t3teInvvuY .carousel-inner > .active {
  display: block;
}
.cid-t3teInvvuY .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t3teInvvuY .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-t3teInvvuY .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-t3teInvvuY .carousel-control,
  .cid-t3teInvvuY .carousel-indicators,
  .cid-t3teInvvuY .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-t3teInvvuY .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-t3teInvvuY .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-t3teInvvuY .carousel-indicators .active,
.cid-t3teInvvuY .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-t3teInvvuY .carousel-indicators .active {
  background: #fff;
}
.cid-t3teInvvuY .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-t3teInvvuY .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-t3teInvvuY .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t3teInvvuY .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-t3teInvvuY .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-t3teInvvuY .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-t3teInvvuY .carousel {
  width: 100%;
}
.cid-t3teInvvuY .modal-backdrop.in {
  opacity: 0.8;
}
.cid-t3teInvvuY .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-t3teInvvuY .modal.fade .modal-dialog,
.cid-t3teInvvuY .modal.in .modal-dialog {
  transform: none;
}
.cid-t3teInvvuY .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-t3teInvvuY H6 {
  text-align: center;
  color: #000000;
}
.cid-t3tuNadkvV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background3.jpeg");
}
.cid-t3tuNadkvV .timeline-element {
  position: relative;
}
.cid-t3tuNadkvV .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-t3tuNadkvV .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-t3tuNadkvV .mbr-section-title,
.cid-t3tuNadkvV .mbr-section-subtitle,
.cid-t3tuNadkvV .timeline-date {
  text-align: center;
}
.cid-t3tuNadkvV .iconBackground {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #6592e6;
  margin-left: -9px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-t3tuNadkvV .iconBackground {
    left: 15px;
    top: 30px;
  }
}
@media (min-width: 768px) {
  .cid-t3tuNadkvV .iconBackground {
    top: 70px;
    left: 50%;
  }
}
.cid-t3tuNadkvV .row:after {
  content: "";
  position: absolute;
  background-color: #6592e6;
  width: 2px;
}
@media (max-width: 767px) {
  .cid-t3tuNadkvV .row:after {
    height: calc(100% + 30px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-t3tuNadkvV .row:after {
    height: calc(100% - 20px);
    top: 90px;
    left: 50%;
  }
}
@media (max-width: 767px) {
  .cid-t3tuNadkvV .timeline-date-wrapper,
  .cid-t3tuNadkvV .timeline-text-wrapper,
  .cid-t3tuNadkvV .image-wrapper {
    padding: 0rem;
    padding-left: 2rem;
  }
  .cid-t3tuNadkvV .mbr-timeline-date {
    text-align: left !important;
  }
  .cid-t3tuNadkvV .mbr-timeline-title {
    text-align: left;
    margin-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-t3tuNadkvV .timeline-date-wrapper,
  .cid-t3tuNadkvV .timeline-text-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-t3tuNadkvV .timeline-date-wrapper,
  .cid-t3tuNadkvV .timeline-text-wrapper,
  .cid-t3tuNadkvV .image-wrapper {
    padding: 2rem;
  }
}
.cid-t3ta7R5xbw {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #000000;
}
@media (max-width: 767px) {
  .cid-t3ta7R5xbw .content {
    text-align: center;
  }
  .cid-t3ta7R5xbw .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-t3ta7R5xbw .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-t3ta7R5xbw .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-t3ta7R5xbw .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-t3ta7R5xbw .google-map {
  height: 25rem;
  position: relative;
}
.cid-t3ta7R5xbw .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-t3ta7R5xbw .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-t3ta7R5xbw .google-map[data-state] {
  background: #e9e5dc;
}
.cid-t3ta7R5xbw .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-t3ta7R5xbw .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-t3ta7R5xbw .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-t3ta7R5xbw .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-t3ta7R5xbw .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-t3ta7R5xbw .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-t3ta7R5xbw .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-t3ta7R5xbw .list {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}
.cid-t3ta7R5xbw H5 {
  color: #ffffff;
}
.cid-t3ta7R5xbw .mbr-text {
  color: #ffffff;
}
